@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-jetBrainsMono: "font-jetBrainsMono";

  /* Colors */
  --color-primary: #1c1c22;
  --color-accentDefault: #00ff99;
  --color-accentHover: #00e187;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-jetBrainsMono bg-primary text-white leading-loose;
}

@utility container {
  padding: 15px;
}

.header-tws {
  @apply py-8 xl:py-12 text-white bg-pink-50/20;
}
.heading-1-tws {
  @apply text-4xl font-semibold;
}

.nav-container-tws {
  @apply container mx-auto flex justify-between items-center;
}
